.purchaseform-user-title{
    text-align: center;
    color: tomato;
}

.purchaseform-up-section{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.purchaseform-person-field{
    display: flex;
    flex-direction: column;
    border: 2px solid lightblue;
    border-radius: 5px;
    height: 20pc;
    padding: 20px 20px;
    margin: 20px auto;
}
.purchase-address-field{
    display: flex;
    flex-direction: column;
    border: 2px solid lightblue;
    border-radius: 5px;
    height: 25pc;
    padding: 20px 20px;
    margin: 20px auto;
}

input{
    height: 15vh;
    width: 30vw;
    border: none;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px 2px gray;
    border-radius: 5px;
    /* border-bottom: 2px solid gray;
    border-right: 2px solid gray; */
}
label{
    display: inline-block;
    width: 10vw;
}
textarea{
    width: 30vw;
    height: 30vh;
    border: none;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px 2px gray;
    border-radius: 5px;
}
.dataSubmit{
    display: block;
    width: 100px;
    margin: 5px auto;
    height: 45px;
    background-color: lightcoral;
    border-radius: 5px;
}

a{
    color: inherit;
    text-decoration: inherit;
}

.validation{
    color: red;
    font-size: 12px;
    line-height: 2px;
    margin-bottom: 5px;
}
