*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader-container{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#loading-icon{
    position: relative;
    right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 800;
}

.loader-square{
    width: 6rem;
    height: 6rem;
    border: 2px solid red;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: rotate(77.5deg); */
    animation: square 60s linear 0s reverse infinite  ;
}

@keyframes square {
    to{transform: rotate(1turn)}
}

.loader-circle{
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    background-color: blue;
    border-radius: 50%;
    animation: circle 15s linear 0s infinite alternate-reverse;
    transform: translate(72px,-72px);;
}

/*transform: rotate(45deg)  transform: translate(75px,-92px); */
/* transform: rotate(-50deg)  transform: translate(81px,-86px); */
/* transform: rotate(-55deg) transform: translate(90px,-75px); */
/* transform: rotate(-60deg) transform: translate(92px,-72px); */

@keyframes circle {
    0%{
        transform: translate(72px,-72px);
    }
    /* 10%{
        transform: translate(81px,-86px);
    }
    20%{
        transform: translate(90px,-75px);
    } */
    25%{
        transform: translate(83px,-74px);
    }
    /* 30%{
        transform: translate(92px,-72px);
    }
    40%{
        transform: translate();
    } */
    50%{
        transform: translate(75px,-92px);
    }
    75%{
        transform: translate(65px,-75px);
    }
    100%{
        transform: translate(72px,-72px);
    }
    
}

#gear-icon{
    font-size: 20px;
}

.loading-title{
    margin-top: 0.2rem;
    font-size: 14px;
    animation: loading 1s infinite;
}

@keyframes loading {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}