*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80vh;
    margin: 5vh 5vh;
    padding: 5vh 5vh;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px lightgray;
}

.image-section{
    display: inline-block;
}

.image-section img{
    height: 50vh;
}

.description-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 48vh;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px dimgray;
}



.card-title h3{
    display: inline-block;
    margin-left: 2vh;
    color:rebeccapurple;
}

.card-price h3{
    display: inline-block;
    margin-left: 2vh;
    color:rebeccapurple;
}

/* .card-btn{
    width: 18vw;
    margin: 3vh 5vh;
} */

.card-btn .btn{
    border: 2px solid mediumslateblue;
    background-color: lightgreen;
    margin: 0px 1vh;
}
.card-btn .btn a{
    color: inherit;
    text-decoration: inherit;
}

.close-btn{
    background-color: inherit;
    border: none;
    position: relative;
    bottom: 7vh;
    left: 20vw;
}