@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Slabo+27px&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=EB+Garamond&family=Slabo+27px&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=EB+Garamond&family=Signika+Negative&family=Slabo+27px&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
:root {
    --font-nav-li: 'Padauk', sans-serif;
    --font_title: 'IBM Plex Sans KR', sans-serif;
    --font_Price: 'Kalam', cursive;
    --font_add_cart_title: 'Scheherazade New', serif;
    --font_quantity: 'Roboto', sans-serif;
    --font-form-title:  'Roboto Slab', serif;
    --font-placeholder-subtitle: 'Slabo 27px', serif;
    --font-customer-table-head: 'Yanone Kaffeesatz', sans-serif;
    --font-customer-table-body: 'EB Garamond', serif;
    --font-table-body: 'Crimson Text', serif;
    --font-bill-table-head:  'Crimson Text', serif;
    --font-bill-table-body: 'Source Sans Pro', sans-serif;
    --font-order-title: 'Mukta', sans-serif;
    --font-order-subtitle: 'Slabo 27px', serif;
    --font-input: 'Zen Old Mincho', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

::-webkit-scrollbar {
    width: 0;
  }

/* <-------------Main Section---------------> */

.app-container{
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 5fr));
    grid-template-rows: 4fr auto;
    grid-template-areas: "navbar navbar navbar navbar navbar""card-content card-content card-content card-content card-content";
}

.app-content{
    grid-area: card-content;
}

a{
    color: inherit;
    text-decoration: inherit;
}


/* <-----------Navigation---------------> */

#navBar{
    grid-area: navbar;
    height: min(5rem,8rem);
    display: grid;
    grid-template-columns: 1.2fr 4fr 3.5fr auto;
    grid-gap: 1rem;
    place-items: center;
    background-color: #FB9300;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-logo img{
    height: 3rem;
    width: 6rem;
}

#navUi{
    place-self: center start;
    padding: 0;
    margin: 0;
}

#navUi li{
    border-radius: 0.3rem;
    text-align: center;
    float: left;
    list-style: none;
    padding: 0.5rem 2rem;
    font-family: var(--font-nav-li);
    font-size: 1.2rem;
    color: white;
}

#list-icon{ 
    font-size: 1.4rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    display: none;
}

#list-icon:hover{
    background-color: black;
    color: white;
}

#navUi li:hover{
    background-color: white;
    color: black;
}

#navUi li:hover a{
    color: black;
}

.search-area{
    place-self: center end;
}

.nav-searchbar{
    display: flex;
    height: fit-content;
    margin-top: 0.5rem;
}

.nav-searchbar-input input{
    height: 2rem;
    width: 15rem;
    border: none;
    outline: none;
    padding: 0 1rem;
    border-radius: 0.5rem;
}

.nav-searchbar-btn{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: white;
    margin-left: 1rem;
}

#search-icon-btn{
    display: none;
    color: blue;
    font-size: 1.4rem;
    margin-right: 0.3rem;
}

.right-sided-btn{
    width: 7rem;
    height: 2.5rem;
    background-color: #FFE3E3;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    margin: 0 1rem;
    position: relative;
    font-family: var(--font-nav-li);
    font-size: 18px;
}

.right-sided-btn i {
    /* color: blue; */
    color: #FB9300;
    
}

.right-sided-btn:hover{
    background-color: #FEF1E6;
}

.add-to-cart-length{
    width: 1.5rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -15px;
    right: -10px;
}

.nav-right-sided-icons{
    display: none;
}

.nav-right-sided-icons i{
    color: blue;
    font-size: 1.5rem;
}

.nav-right-sided-icons div{
    text-align: center;
    width: 1.5rem;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    position: relative;
   top: -25px;
   right: 10px;
}

.dropdown-container{
    border: 2px solid red;
    grid-area: card-content;
    height: 12rem;
    place-items: center;
    background-color: black;
    position: sticky;
    top: 5rem;
    transition: transform 2s ;
    animation: dropdown 2s ease-in-out;
}

@keyframes dropdown {
    0%{transform:translate(0rem,-12rem)}
    100%{transform:translate(0rem,0rem)}
}

#dropdown-ul {
    width: 20rem;
    margin-inline: auto;
    margin-block: 1rem;
    padding: 0;
}

#dropdown-ul li{
    text-align: center;
    list-style: none;  
    padding: 0.5rem 3rem;
}

#dropdown-ul li:hover{
    background-color: white;
}
#dropdown-ul li:hover a{
    color: black;
}

#dropdown-ul li a{
    color: white;
}

/* #navBar {
    display: flex;
    flex-direction: Row;
    background-color: #0c8081;
    height: 4em;
    position: sticky;
    top: 0px;
    width: inherit;
}

#navUi{
    margin: 0;
}

#navUi li {
    padding: 1.3em 3em;
    list-style: none;
    float: left;
}

#navUi li a {
    text-decoration: none;
    color: white;
    font-family: var(--font);
}

.nav-right-sided-btn {
    align-items: flex-end;
    margin: 0.8em 2em;
}

.right-sided-btn {
    height: 40px;
    width: 100px;
    margin-right: 20px;
    background-color: rgb(197, 187, 207);
    border-radius: 10px;
}

.nav-logo {
    display: inline-block;
    height: 50px;
}

.nav-logo img {
    height: 50px;
    margin: 5px 15px;
}

.nav-searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 85px;
}

.nav-searchbar-input {
    height: 30px;
    width: 22em;
    margin: 5px 10px;
}

.nav-searchbar-btn {
    width: 30px;
    height: 30px;
    margin: 5px 10px;
    border-radius: 5px;
}

.add-to-cart-length {
    height: 5px;
    width: 10px;
    display: inline;
    background-color: lightblue;
    border-radius: 50px;
    color: blue;
    position: relative;
    bottom: 15px;
    right: 30px;
}

.show-search-error {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

/* <----------------Product Card Section-------------> */

.card-container{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 1rem;
    place-items: center;
    margin-top: 2rem;
    margin-inline: auto;
}

.cards-section{
    height: 22rem;
    width: 15rem;
    padding: 1rem 1rem;
    display: grid;
    cursor: pointer;
    grid-template-columns: auto;
    grid-template-rows: 2fr 1.3fr 0.1fr 0.1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
}

.cards-section:hover{
    transform: scale(1.03);
}

.cards-title{
    place-self: start center;
    height: 3rem;
    overflow: hidden;
    font-size: 18px;
    color: rgb(134, 100, 168);
    font-family: var(--font_title);
}

.cards-image{
    place-self: center;
}

.cards-image img {
    height: 10rem;
    width: 10rem;
}

.cards-price strong{
    font-size: 18px;
    margin-right: 3px;
    font-family: var(--font_Price);
    font-weight: 10;
}

.cards-btn{
    place-self: center;
}

.cards-btn button{
    margin: 0 0.5rem;
    height: 2.5em;
    width: 5em;
    background-color: #FFC074;
    border: none;
    border-radius: 7px;
    color: #161616;
}

.cards-price{
    padding: 0 1.2rem;
}

.cards-price span {
    font-size: 18px;
    margin-right: 3px;
    font-family: var(--font_Price);
    color: #DF711B;
}

.cards-price span i {
    margin-left: 3px;
    font-size: 0.8em;
}

/* .card-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.cards-section {
    height: 22em;
    width: 14em;
    margin: 25px;
    padding: 0px 15px;
    box-shadow: 2px 2px 5px 1px grey;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-proflie {
    height: 100vh;
    width: 100px;
    align-self: flex-start;
}

.cards-btn {
    height: 3em;
    width: 13em;
    display: flex;
    flex-direction: row;
}

.card-btn {
    margin: 2px 7px;
    padding: 0;
    height: 2.5em;
    width: 5em;
    background-color: #FFC074;
    border: none;
    border-radius: 7px;
    color: #161616;
}

.cards-image {
    height: 9em;
    width: 10em;
    margin: 0px auto;
}

.cards-image img {
    height: 10em;
    width: 10em;
}

.cards-title {
    height: 3em;
    overflow: hidden;
    text-align: center;
    margin: 15px 0px;
    font-size: 18px;
    color: rgb(134, 100, 168);
    font-family: var(--font_title);
}

.card-content {
    margin-left: 5px;
}

.cards-price strong {
    font-size: 18px;
    margin-right: 3px;
    font-family: var(--font_Price);
    font-weight: 10;
}

.cards-price span {
    font-size: 18px;
    margin-right: 3px;
    font-family: var(--font_Price);
    color: #DF711B;
}

.cards-price span i {
    margin-left: 3px;
    font-size: 0.8em;
} */

/* <---------------selected product--------------> */

.maincontainer{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-section{
    height: 20rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
}

.description-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: 1.5rem;
    position: relative;
}

.image-card{
    height: 16rem;
    width: 16rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.product-image{
    height: 15rem;
    width: 15rem;
}

.card-title{
    font-family: var(--font_title);
    color: rgb(134, 100, 168);
}

.card-price{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.btn-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.close-btn{
    background-color: inherit;
    border: none;
    position: absolute;
    display: block;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
}


/* <---------------Add Cart-----------------> */

.purchase-card-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    place-items: center;
}

.purchase-card-section{
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1.8fr 3fr 3fr ;
    grid-gap: 10px;
    margin-inline: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 1rem;
}

.purchase-card-image{
    place-self: center;
}

.purchase-card-image img{
    height: 10rem;
    width: 10rem;
}

.purchase-card-title{
    height: 10rem;
    place-self: start center;
    font-size: 1.3rem;
    padding: 0 0.5rem;
    font-family: var(--font_add_cart_title);
    color: #5C7AEA;
    overflow: hidden;
}

.purchase-card-value{
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 1rem;
}

.purchase-quantity-btn{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    place-items: center;
    grid-gap: 0.5rem;
    place-self: center;
    color: #664E88;
}

.purchase-card-quantity h3{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
}

.quantity-value{
    margin: 0;
}

.plus-btn{
    place-self: center;
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
    background-color: white;
    border: 4px solid red;
    margin-top: 2rem;
}
.minus-btn{
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
    background-color: white;
    border: 4px solid orange;
    margin-top: 2rem;
}

.plus-btn i{
    color: red;
}

.minus-btn i{
    color: orange;
}

.purchase-card-cost{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content max-content;
    place-items: center;
    place-self: center;
}

.purchase-card-cost h4{
    font-weight: 800;
}

.purchase-card-btn{
    place-self: center;
}

.remove-btn{
    width: 7rem;
    height: 2.5rem;
    background-color: #FF2442;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 0.3rem;
    margin: 0 0.5rem;
}

.remove-btn i{
    color: white;
    margin-left: 0.5rem;
}

.buy-btn i{
    color: white;
    margin-left: 0.5rem;
}

.buy-btn{
    width: 7rem;
    height: 2.5rem;
    background-color: #50CB93;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 0.3rem;
    margin: 0 0.5rem;
}

.buy-all-btn{
    width: 12rem;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: 800;
    background-color: #F0A500;
}

.buy-all{
    width: 80%;
    text-align: end;
}

/* .purchase-card-container {
    height: max-content;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.purchase-card-section {
    height: 12em;
    width: 60em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.purchase-card-image {
    height: 10em;
    width: 10em;
}

.purchase-card-image img {
    height: 10em;
    width: 10em;
}

.purchase-card-description {
    height: 10em;
    display: flex;
    flex-direction: row;
}

.purchase-card-content {
    width: 38em;
    margin: 0px 1em;
}

.purchase-card-title {
    width: 20em;
    height: 1.5em;
    overflow: hidden;
    text-align: center;
    margin: 0.5em auto;
    font-family: var(--font_title);
    font-size: 24px;
    color: rgb(134, 100, 168);
}

.purchase-quantity-btn {
    width: 20em;
    display: flex;
    flex-direction: row;
    margin: 5px auto;
}

.purchase-card-quantity {
    background-color: #FFEBA1;
    width: 10em;
    text-align: center;
    padding-top: 12px;
    font-family: var(--font_Price);
    border-radius: 8px;
}

.quantity-btn {
    width: 2em;
    height: 2em;
    margin: 2em auto;
    background-color: #57CC99;
    border-radius: 5px;
}

.purchase-card-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.buy-btn {
    margin: 5px 7px;
    padding: 0;
    height: 2em;
    width: 8em;
    background-color: #FFC074;
    border: none;
    border-radius: 7px;
    color: #161616;
}

.buy-all {
    width: 58em;
    text-align: right;
    margin: 1em auto;
}

.buy-all-btn {
    height: 2em;
    width: 8em;
    background-color: rgb(255, 75, 75);
    border: none;
    border-radius: 7px;
    color: #161616;
} */


/* <---------------placeholder section--------------> */

.placeholder-display{
    width: 100vw;
    height: 90vh;
    display: grid;
    place-items: start center;
    margin: 2rem;
}

.placeholder-container{
    width: 90%;
    height: 45%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2.8fr 2fr;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.placeholder-main-title{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    font-family: var(--font-form-title);
    font-weight: 500;
    margin: 0;
    place-self: center;
    background-color: #39A388;
    display: grid;
    place-items: center;
}

.order-placeholder-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    padding: 1.5rem;
}

.order-product-container{
    height: max-content;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    grid-gap: 1rem;
}

.product-section{
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-gap: 0.5rem;
    place-items: center start;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.order-item-content h5{
    font-family: var(--font_title);
}

.order-placeholder-section{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.4fr 1fr;
    grid-gap: 2rem;
}

.product-section img{
    height: 6rem;
    width: 6rem;
}
.order-customer-container {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 1rem;
}
.order-customer-container h3{
    margin-bottom: 0.8rem;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid grey;
    font-family: var(--font-placeholder-subtitle);
}

.order-customer-info{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-gap: 0.5rem;
    place-items: center start;
    padding: 0 1rem;
}
.order-customer-info p{
    margin: 0;
    font-family: var(--font-table-body);
    font-size: 18px;
}
.order-customer-info h6{
    margin: 0;
    font-family: var(--font-bill-table-head);
    font-size: 20px;
}

.order-bill-container{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: fit-content 1.5fr 4fr 3fr;
    grid-gap: 1rem;
}

.order-bill-container h3{
    margin:0;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid grey;
    font-family: var(--font-placeholder-subtitle);
}

.order-price-table-header{
    display: grid;
    grid-template-columns: 2fr 1fr 0.5fr;
    grid-gap: 1.5rem;
    padding: 0.5rem 1rem;
    border-top: 2px solid #EFEFEF;
    border-bottom: 2px solid #EFEFEF;
    font-family: var(--font-bill-table-head);
    font-size: 20px;
}

.order-price-table-body-container{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid #C9CCD5;
}

.order-price-table-body-section{
    display: grid;
    grid-template-columns: 2fr 1fr 0.5fr;
    grid-gap: 1.5rem;
    margin-bottom: 0.3rem;
    font-family: var(--font-bill-table-body);
}

.order-product-price-body i{
    float: right;
    padding: 0.3rem 0;
}

.order-product-quantity-body{
    place-self: center;
}

.order-product-total-section{
    padding-left: 14rem;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    place-items: center start;
    grid-gap: 0.3rem;
}

.order-product-total-section h6{
    margin: 0;
    font-family: var(--font-placeholder-subtitle);
    font-size: 18px;
    font-weight: 800;
}

.order-product-total-section button{
    height: 2.5rem;
    width: 10rem;
    border: none;
    outline: none;
    font-family: var(--font-form-title);
    background-color: #3E00FF;
    color: white;
    border-radius: 0.3rem;
}

/* .placeholder-display {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order-placeholder-title{
    align-self: flex-start;
    margin: 0em 10em;
}

.order-placeholder-container {
    height: 65em;
    width: 85em;
    padding: 0.5em 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 5px 1px grey;
    border: none;
}

.order-product-container {
    height: 60em;
    width: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
    overflow-x: hidden;
    border: none;
}

.product-section {
    width: 35em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid red;
    padding: 1em;
    margin: 0.5em auto;
}

.order-item-image{
    height: 10em;
    width: 10em;
}

.order-item-image img{
    height: inherit;
    width: inherit;
}

.order-item-content{
    margin-left: 10px;
}

.order-item-title{
    font-size: 22px;
    font-weight: 50;
    font-family: var(--font_title);
    margin: 0.5em auto;
}

.order-item-rate strong{
    font-family: var(--font_Price);
}

.order-placeholder-section{
    height: 60em;
    width: 35em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.order-bill-title{
    font-family: var(--font_title);
    margin: 0.5em auto;
}

.order-price-table-header{
    border: groove;
    border-left: hidden;
    border-right: hidden;
    height: 4em;
    width: 30em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.order-product-name-head{
    width: 15em;
}

.order-product-price-head{
    width: 10em;
}

.order-price-table-body-container{
    height: 20em;
    width: 30em;
    overflow: scroll;
    overflow-x: hidden;
}

.order-price-table-body-section{
    height: fit-content;
    width: inherit;
    margin: 0.5em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.order-product-name-body{
    width: 15em;
    padding: 0 1em;
}

.order-product-price-body{
    width: 8em;
}

.product-quantity-multiple{
    width: 2em;
}

.order-product-quantity-body{
    width: 5em;
}

.order-product-total-section{
    width: inherit;
    height: 7em;
}

.order-total-price{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-total-title{
    font-size: 20px;
    font-family: var(--font_title);
    width: 10em;
}

.order-total-value{
    width: 15em;
    text-align: end;
    padding: 0 0em;
    font-size: 16px;
}

.order-product-btn{
    text-align: end;
    padding: 0.5em 2em;
}

.place-order-btn{
    border: none;
    border-radius: 8px;
    height: 2em;
    width: 10em;
    color: white;
    background-color: blue;
}

.order-customer-container{
    height: 30em;
    width: 30em;
    box-shadow: 2px 2px 5px 1px grey;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.order-customer-title{
    width: 28em;
    align-self: flex-start;
    margin: 0.5em 1em;
    border-bottom: 2px solid grey;
}

.order-customer-info{
    height: 2.5em;
    width: 28em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-customer-title-heading{
    
    width: 12em;
} */

/* <------------------order list-----------------> */

.order-list-container{
    height: 90%;
    width: 100vw;
}

.deal-container{
    height: max-content;
    width: 70%;
    margin: 2rem auto;
    box-shadow: #FF7600 0px 0.0625em 0.0625em, #FF7600 0px 0.125em 0.5em, #FF7600 0px 0px 0px 1px inset;
    border: 2px solid #FF7600 ;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    padding-bottom: 2rem;
}

.deal-details{
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 3fr 1fr 2fr;
    place-items: center;
    background-color: #FB9300;
    color: White;
    padding: 0.5rem 0;
    grid-gap: 1rem;
}

.deal-details p{
   text-align: center;
    margin: 0;
}
.deal-details p h6{
   text-align: center;
    margin-bottom: 0.3rem;
    font-weight: 600
}

.product-item-container{
    width: 82%;
    display: grid;
    grid-template-columns: auto;
    place-items: start center;
    padding: 1rem;
}

.product-card{
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 4fr 1.5fr;
    place-items: center;
    margin: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem;
    grid-gap: 0.5rem;
}

.product-card img{
    height: 8rem;
    width: 8rem;
}

.order-product-content{
    place-self: center start;
    display: grid;
    grid-template-columns: 0.1fr 3fr;
    grid-gap: 0.3rem;
    place-items: center start;
}

.order-product-content h4{
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: var(--font-order-title);
    font-size: 20px;
    margin: 0;
    
}

.order-product-content h6{
    font-family: var(--font-order-subtitle);
    font-weight: 600;
    margin: 0;
}

.order-product-content span{
    font-family: var(--font_Price);
    font-weight: 500;
    margin: 0;
}

.total-product-cost{
    font-family: var(--font_title);
    font-size: 16px;
    text-align: center;
    padding: 0.8rem;
    background-color: #FFEF78;
}

.back-btn{
    width: 80%;
}

.back-btn button{
    padding: 0.8rem;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    font-weight: 900;
    background-color: #7C83FD;
    color: white;
}

/* <------------------search product----------------> */

.search-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5,2fr);
    grid-gap: 2rem;
    place-items: center;
    margin-inline: auto;
    padding: 1rem;
    display: grid;
}

/* <------------------customer form-----------------> */

.form-main-container{
    height: 90vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.form-layout{
    height: 70%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    overflow: hidden;
}

.form-section{
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 8fr;
    place-items: center;
    grid-gap: 2rem;
    background-color: #272a32;
    padding: 2.5rem;
}

.form-section h3{
    font-size: 2rem;
    font-family: var(--font-form-title);
    font-weight: 500;
    color: #f6f9f9;
    margin: 0;
}
.form-section form{
    place-self: center start;
    height: 100%;
    width: 100%;
}

.form-first-page{
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.6fr 5fr 1fr;
    grid-gap: 1rem;
}

.form-first-page h6{
    color: #f6f9f9;
    font-family: var(--font-form-title);
    font-weight: 500;
    place-self: center start;
    margin: 0;
}

.field-container{
    position: relative;
    margin: 1rem 0;
    z-index: 0;
}

.field-container-input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent ;
    border-bottom: 2px solid grey;
    color: white;
    /* margin-bottom: 1rem; */
    padding: 0.5rem 1rem;
    z-index: 1;
    font-family: var(--font-input);
}

.field-container-input:not(:focus).field-container-input:not(:placeholder-shown), .field-container-input:focus{
    border: 2px solid #113CFC;
    margin-bottom: 0;
    border-radius: 0.5rem;
    height: 3rem;
    box-shadow: #485fc5 0px 1px 3px;
}

/* .field-container-input:not(:focus) ~ .validation{
    display: block;
} */

/* .field-container-input:focus ~ label, .field-container-input:-webkit-autofill ~ .field-container-label{
    top: -0.5rem;
    font-size: 0.8rem;
    color: red;
} */

.field-container-input:focus ~ .field-container-label, .field-container-input:not(:focus).field-container-input:not(:placeholder-shown)  ~ .field-container-label{
    top: -0.7rem;
    font-size: 1rem;
    color: #A2D2FF;
}


  

.field-container-label{
    text-align: center;
    padding: 0 0.3rem;
    background-color: #272a32;
    display: block;
    color: #916BBF;
    font-size: 1.2rem;
    position: absolute;
    top: 0.5rem;
    left: 0.3rem;
    font-family: var(--font-table-body);
    transition: top 200ms ease-in,
            left 200ms ease-in,
            font-size 200ms ease-in;
}

.validation{
    display: block;
    color: rgb(13, 163, 38);
    font-size: 14px;
}

.extra-description-section{
    background-color: #1d1e22;
    padding: 2.5rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1.2fr 8fr;
    place-items: center;
}

.extra-description-section h6{
    place-self: center start;
    color: white;
    font-family: var(--font-form-title);
    font-weight: 500;
    margin: 0;
}
.extra-description-section p{
    place-self: start;
    color: #5d5c61;
    font-size: 14px;
    font-family: var(--font-form-title);
    font-weight: 500;
    margin: 0;
}

.other-information{
    place-self: start center;
    padding: 1rem;
}

.address-information {
    padding: 0.5rem 0;
    display: grid;
    grid-template-columns: 1fr 6fr;
    place-items: center;
    grid-gap: 0.5rem;
    color: #5d5c61;
}
.address-information div{
    place-self: center start;
    font-size: 12px;
}
.address-information div strong{
    margin-right: 0.3rem;
    color: white;
}

.other-information i{
    color: white;
    background-color: #1f2027;
    padding: 0.5rem 0.6rem;
    /* border: 1px solid; */
    border-radius: 50%;
}

.form-btns{
    place-self: center ;
}
.form-btns button{
    text-align: center;
    width: 8rem;
    margin: 0 1rem;
    padding: 0.5rem 0;
    border: none;
    outline: none;
    font-weight: 800;
    border-radius: 0.5rem;
    font-size: 16px;
}

.form-btns button:not(:disabled):hover, .next-btn:not(:disabled):hover{
    background-color: #4d4fc8;
    color: white;
}
/* 
.form-main-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.purchaseform-user-title{
    text-align: center;
    color: tomato;
}

.purchaseform-up-section{
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.form-title{
    display: inline;
    height: 1em;
    margin-left: 1em;
    position: relative;
    top: 0.8em;
    z-index: 10;
    border: transparent;
}

.purchaseform-person-field{
    display: flex;
    flex-direction: column;
    border: 2px solid lightblue;
    border-radius: 5px;
    height: 18pc;
    padding: 2em 1em;
    z-index: 0;
    
}

.purchase-address-field{
    display: flex;
    flex-direction: column;
    border: 2px solid lightblue;
    border-radius: 5px;
    height: 25pc;
    padding: 2em 1em;
    z-index: 0;
}

input{
    height: 15vh;
    width: 30vw;
    border: none;
    padding: 0 1em;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px 2px gray;
    border-radius: 5px;
}
label{
    display: inline-block;
    width: 10vw;
}
textarea{
    width: 30vw;
    height: 30vh;
    padding: 0 1em;
    border: none;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px 2px gray;
    border-radius: 5px;
}
.dataSubmit{
    display: block;
    width: 100px;
    margin: 5px auto;
    height: 45px;
    background-color: lightcoral;
    border-radius: 5px;
}

a{
    color: inherit;
    text-decoration: inherit;
}

.validation{
    color: red;
    font-size: 12px;
    line-height: 2px;
    margin-bottom: 5px;
} */

/* <-----------------Media Query---------------------> */

@media screen and (max-width:1400px) {
    #navBar{
        grid-template-columns: 1.2fr 4fr min-content auto;
    }
    .nav-searchbar-input input{
        max-width: 10rem;
    }
    .card-container{
        grid-template-columns: repeat(4,1fr);
    }
    .purchase-card-section{
        grid-template-columns: 2fr 1.8fr max-content 3fr ;
    }
    .purchase-card-value{
        grid-template-columns: max-content;  
    }
    .form-layout{
        width: 65%;
    }
    .deal-container{
        width: 88%;
    }
    .search-container{
        grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (min-width:800px) and (max-width:1200px) {
    #navBar{
        grid-template-columns: min-content 4fr min-content auto;
    }
    .nav-searchbar-input input{
        max-width: 8rem;
    }
    #navUi li{
        padding: 0.5rem 1rem;
    }
    .nav-logo img{
        margin: 0 0.5rem;
    }
    .nav-right-sided-btn{
        display: none;
    }
    .nav-right-sided-icons{
        display: block;
    }
    .card-container{
        grid-template-columns: repeat(3,1fr);
    }
    .purchase-card-section{
        grid-template-columns: 2fr 1.5fr max-content 3fr ;
    }
    .form-layout{
        width: 70%;
    }
    .deal-container{
        width: 95%;
    }
}

@media screen and (min-width:700px) and (max-width:1100px){
    .purchase-card-section{
        grid-template-columns: 2fr 1.5fr max-content 2fr ;
    }
    .purchase-card-btn{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1rem;
    }
    .form-layout{
        width: 87%;
    }
}

@media screen and (min-width:600px) and (max-width:850px){
    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
    .form-layout{
        width: 97%;
    }
    .form-section{
        padding: 2.5rem 1rem;
    }
    .form-section h3{
        font-size: 24px;
    }
    .extra-description-section {
        padding: 2.5rem 1rem;
    }
    .product-card{
        grid-template-columns: auto;
        place-items: center;
    }
    .order-product-content {
        place-self: center;
    }
    .order-product-content{
        width: 60%;
    }
    /* .order-product-content h4{
        text-align: center;
    } */
}
@media screen and (min-width:400px) and (max-width:600px){
    .form-layout{
        grid-template-columns: auto;
        width: 90%;
    }
    .form-section h3{
        font-size: 24px;
    }
    .extra-description-section{
        display: none;
    }
}
@media screen and (min-width:600px) and (max-width:800px) {
    #navBar{
        grid-template-columns: min-content 4fr min-content auto;
    }
    .nav-logo img{
        height: 2rem;
        width: 4rem;
        margin: 0 0.5rem;
    }
    #navUi li{
        padding: 0.5rem 1rem;
    }
    .nav-searchbar{
        display: none;
    }
    #search-icon-btn{
        display: block;
    }
    .nav-right-sided-btn{
        display: none;
    }
    .nav-right-sided-icons{
        display: block;
    }
    .purchase-card-section{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content max-content max-content max-content;
        place-items: center;
    }
    .purchase-card-title{
        height: max-content;
    }
    .purchase-card-btn{
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:600px) {
    #navBar{
        grid-template-columns: min-content 4fr min-content auto;
        grid-gap: 0.5rem;
    }
    .nav-logo img{
        height: 2rem;
        width: 4rem;
        margin: 0 0.5rem;
    }
    #navUi li{
        display: none;
    }
    #list-icon{
        display: block;
        
    }
    .nav-searchbar{
        display: none;
    }
    #search-icon-btn{
        display: block;
        margin-right: 0.8rem;
    }
    .nav-right-sided-btn{
        display: none;
    }
    .nav-right-sided-icons{
        display: block;
    }
    .cards-section{
        width: 20rem;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
    }
    .cards-price{
        padding: 0 3.5rem;
    }
    
    .purchase-card-section{
        width: 56%;
        grid-template-columns: auto;
        grid-template-rows: max-content max-content max-content max-content max-content;
        place-items: center;
    }
    .purchase-card-title{
        height: max-content;
    }
    .purchase-card-btn{
        display: grid;
        grid-template-columns: auto auto;
    }
    .buy-all-btn{
        width: 100%;
    }
    .buy-all{
        width: 56%;
    }
    .form-layout{
        grid-template-columns: auto;
        width: 90%;
    }
    .form-section h3{
        font-size: 24px;
    }
    .extra-description-section{
        display: none;
    }
    .product-card{
        grid-template-columns: auto;
        place-items: center;
    }
    .order-product-content {
        place-self: center;
    }
    .order-product-content{
        width: 60%;
    }
}

